<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
    <head>
        <title>Tutor inteligente</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" >
        <link rel="stylesheet" href="../css/html-elements.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="../css/layout.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="../css/sidebar.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="../css/form-elements.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="../css/website.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="../css/handheld.css" type="text/css" media="handheld" />	
        <link rel="stylesheet" href="../css/print.css" type="text/css" media="print" />


        <!--[if IE 8]>
                <link rel="stylesheet" href="../css/ie_8.css" type="text/css" media="screen, projection" />
        <![endif]-->

        <!--[if IE 7]>
                <link rel="stylesheet" href="../css/ie_7.css" type="text/css" media="screen, projection" />
        <![endif]-->

        <!--[if IE 6]>
                <link rel="stylesheet" href="../css/ie_6.css" type="text/css" media="screen, projection" />
        <![endif]-->

    </head>
    <body class="fixed-layout">
        <div id="wrapper" class="sidebar-right">
            <div id="wrapper-inner">

                <div id="header">
                    <div id="header-inner">
                        <div id="logo"><a href="../templates/index.html" title="Teste de inglês"><img src="../images/logotutor.png" alt="image-logo"/></a></div> <!-- /#logo-->
                        <div id="quick-login">

                        </div> <!-- /#quick-login-->
                    </div> <!-- /#header-inner-->
                </div> <!-- /#header-->

                <div id="navigation">
                    <div id="navigation-inner">        
                        <ul class="sf-menu">	 
                            Teste de competências: Listen, writer e read
                        </ul> 
                    </div> <!-- /#navigation-inner-->
                </div> <!-- /#navigation-->

                <div id="container">
                    <div id="content" class="clearfix">
                        <div id="content-inner">

                            <div id="content-header">
                                <div id="content-header-inner">

                                    <div id="content-title">
                                        <h1 class="title">Seja Bem-vindo!</h1>
                                    </div>  <!-- /#content-title-->

                                </div> <!-- /#content-header-inner-->
                            </div> <!-- /#content-header-->

                            <div id="content-area">
                                <div id="content-area-inner">
                                    <p>Este sistema tem por objetivo identificar competências a serem aperfeiçoadas no âmbito da língua inglesa.</p>
                                    <p>As competências observadas são as seguintes: read, writer e listen.</p>
                                    <p>Preencha o formulário abaixo e comece a avaliação das suas competências!</p>
                                    <hr>
                                    <form method=post action=autentica.php>
                                        Nome: <input type=text size=8 name=login>
                                        <input type=submit value=Enviar>
                                    </form>
                                </div> 
                            </div> 
                        </div>  
                    </div> 
                </div> <!-- /#container -->
            </div> <!-- /#footer-inner-->
        </div> <!-- /#footer-->

    </div> <!-- /#wrapper-inner-->
</div> <!-- /#wrapper/.sidebar-right-->




</body>
</html>
